body {
    padding: 50px;
}

.deck-wrapper {
    position: relative;
}

.card {
    position: absolute;
    display: inline-block;
}

.one,
.two,
.three,
.four,
.five {
    width: 380px;
    height: 565px;
}

.one {
    z-index: 1;
    background: url('../img/ace.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.two {
    z-index: 2;
    left: 94px;
    top: 94px;
    background: url('../img/2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.three {
    z-index: 3;
    left: 188px;
    top: 188px;
    background: url('../img/3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.four {
    z-index: 4;
    left: 282px;
    top: 282px;
    background: url('../img/4.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.five {
    z-index: 5;
    left: 375px;
    top: 375px;
    background: url('../img/5.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card:hover {
    z-index: 10;
}