body{
    padding: 50px;
}

.deck-wrapper {
    position: relative;
}

.card {
    position: absolute;
    display: inline-block;
}

.one,
.two,
.three,
.four,
.five {
    width: 380px;
    height: 565px;
    outline: 1px solid #000;
}

.one {
    z-index: 1;
    background-color: #fed700;
}

.two {
    z-index: 2;
    left: 94px;
    top: 94px;
    background-color: #fee4c3;
}

.three {
    z-index: 3;
    left: 188px;
    top: 188px;
    background-color: #fea500;
}

.four {
    z-index: 4;
    left: 282px;
    top: 282px;
    background-color: #fe0000;
}

.five {
    z-index: 5;
    left: 375px;
    top: 375px;
    background-color: #008001;
}

.card:hover {
    z-index: 10;
}